*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-template-rows: repeat(3, 190px);
}

.gameboard button {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.player-one {
  color: blue;
}

.player-two {
  color: red;
}