*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff5ee;
}

form {
  display: grid;
  grid-auto-rows: repeat(3, 1fr);
  justify-content: center;
  margin-top: 8rem;
  gap: 75px;
}

form input {
  padding: 10px;
  width: 500px;
  font-size: 2rem;
  border-radius: 10px;
  border: 1px solid black;
}

form input:focus {
  outline-color: blue;
}

form button {
  width: 200px;
  padding: 10px;
  font-size: 2rem;
  background-color: blueviolet;
  color: white;
  justify-self: center;
}

.container {
  flex-direction: column;
  width: 800px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: none;
}

header {
  background-color: #f0f8ff;
}

header h1 {
  margin: 0;
  box-shadow: 0 3px 3px rgb(92, 92, 92);
  padding: 2rem 0;
  width: 100vw;
  text-align: center;
  font-size: 4rem;
}

.user-interface-top {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.user-interface-top p {
  margin: 0;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  box-shadow: 3px 3px 10px rgb(92, 92, 92);
}

.gameboard button {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background-color: #fffafa;
}

.player-one {
  color: blue;
}

.player-two {
  color: red;
}

.user-interface-top .current-player,
.user-interface-top .endgame-message {
  font-size: 3rem;
}

.user-interface-bottom {
  display: grid;
  grid-template-rows: repeat(3, 40px);
  place-items: center;
  margin-top: 2rem;
}

.user-interface-bottom .players {
  grid-row: 1 / 2;
}

.user-interface-bottom .messages {
  grid-row: 2 / 3;
}

.user-interface-bottom .controls {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.user-interface-bottom button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
}

.user-interface-bottom .restart {
  grid-column: 1 / 2;
}

.user-interface-bottom .new-game {
  grid-column: 2 / 3;
}

.user-interface-bottom .error-message {
  color: red;
  font-size: 1.5rem;
  margin: 0;
}

.user-interface-bottom .players {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}