*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  background-color: lightgray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-template-rows: repeat(3, 190px);
}

.gameboard div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}